<div class="footer">
      <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">{{name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CDMX</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{currentYear}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="fa fa-copyright" aria-hidden="true"></i></a>
            </li>
          </ul>
</div>

